<ul class="list-group mb-4">
    <li class="list-group-item bg-success text-white"><span th:text="#{label.categories}" class="font-weight-bold"></span></li>
    <li class="list-group-item"><a th:href="@{'/search?name=&price_from=&price_to=&brand_name='}"><i class="fas fa-shopping-cart mr-2 text-center" style="width: 1.5rem"></i> <span th:text="#{label.all_products}"></span></a></li>
    <li th:each="category : ${categories}" class="list-group-item d-flex">
        <div class="mr-2" style="width: 1.5rem">
            <img th:src="@{${category.getLogoUrl()}}" height="25px" alt="">
        </div>
        <a th:href="@{'/search?name=&price_from=&price_to=&brand_name='}" th:text="${category.getName()}"></a>
    </li>
    <li class="list-group-item"><a href="#"><i class="fas fa-tv  mr-2  text-center" style="width: 1.5rem"></i> <span th:text="#{label.other}"></span></a></li>
</ul>
<ul class="list-group mb-4">
    <li class="list-group-item bg-success text-white"><span th:text="#{label.brands}" class="font-weight-bold"></span></li>
    <li th:each="brand : ${brands}" class="list-group-item">
        <a th:href="@{'/search?name=&price_from=&price_to=&brand_name=' + ${brand.getName()}}"><span th:text="${brand.getName()}"></span></a>
    </li>
    <li class="list-group-item"><a href="#"><span th:text="#{label.other}">Other</span></a></li>
</ul>
<ul class="list-group">
    <li class="list-group-item bg-success text-white"><span th:text="#{label.payments}" class="font-weight-bold"></span></li>
    <li class="list-group-item text-info">
        <div class="row justify-content-center">
            <div class="col-4"><i class="fab fa-cc-apple-pay w-100" style="font-size: 3rem"></i></div>
            <div class="col-4"><i class="fab fa-cc-visa w-100" style="font-size: 3rem"></i></div>
            <div class="col-4"> <i class="fab fa-cc-paypal w-100" style="font-size: 3rem"></i></div>
        </div>
        <div class="row justify-content-center">
            <div class="col-4"><i class="fab fa-cc-amazon-pay w-100" style="font-size: 3rem"></i></div>
            <div class="col-4"><i class="fab fa-cc-mastercard w-100" style="font-size: 3rem"></i></div>
            <div class="col-4"><i class="fab fa-cc-amex w-100" style="font-size: 3rem"></i></div>
        </div>

    </li>
</ul>